.container{
	background-color: none;
}

.body{
	background-color: none;
}

.titulo-fundo{
	background-color: #FE6F5E;
	color: white;
}

.header{
	background-color: none;
}

.footer{
	background-color: none;
}